body {
    margin: 0;
    padding: 0;
    position: relative;
}
.center-right-image {
    width: 500px; /* Adjust the size as needed */
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust the position as needed */
    transform: translateY(-50%);
}

/* Style the container for the text */
.text-container {
    max-width: calc(100% - 350px); /* Adjust the width as needed */
}

.text-container h1,
.text-container h2 {
    color: #fff; /* Text color */
    padding: 10px; /* Add padding for spacing */
}

.toolbar {
    background-color: #DDA0DD;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
}

.toolbar ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.toolbar li {
    margin-right: 20px;
}

.toolbar a {
    text-decoration: none;
    color: #fff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 36px;
}

/* Increase the size and set the font for specific links */
.toolbar a[href="#slide2"],
.toolbar a[href="#slide3"] {
    font-size: 36px;
    font-family: 'Quattrocento Sans', sans-serif;
}

.sticky-note {
    position: relative;
    width: 200px;
    padding: 20px;
    text-align: center; /* Center the text within the sticky note */
}

.sticky-note img {
    width: 100%;
    display: block;
}

.sticky-note p {
    font-size: 18px;
    color: #333;
    margin: 0; /* Remove default margins */
    padding: 10px; /* Add padding for spacing inside the sticky note */
}

.top-right-image {
    position: absolute;
    top: 10px;
    left: 10px; /* Move the image to the left */
    width: 150px; /* Make the image larger */
    height: auto;
}

/* Rest of your existing CSS */

.container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

h1 {
    font-size: 99px;
    color: black;
}

h2 {
    font-size: 31px;
    color: #fff;
}

.slide {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: relative;
}

#slide1 {
    background-image: url('img/bg_slide1_new.jpeg'); /* Replace with your image path */
}

#slide2 {
    background-image: url('img/slide2_bg_new.jpeg'); /* Replace with your image path */
}

#slide3 {
    background-image: url('img/slide3_bg_new.jpeg'); /* Replace with your image path */
}
