body {
    margin: 0;
    padding: 0;
    overflow: auto; /* Change to auto or remove this line */
    position: relative;
}
container{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.top-right-image {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    width: 100px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
}
h1{
    font-size: 99px;
    color: black;
} 
h2{
    font-size: 31px;
    color : fff;
} 

.slide {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: relative;
}

#slide1 {
    background-image: url('img/silde1_bg_new.jpeg'); /* Replace with your image path */
}

#slide2 {
    background-image: url('img/slide2_bg_new.jpeg'); /* Replace with your image path */
}

#slide3 {
    background-image: url('img/slide3_bg_new.jpeg'); /* Replace with your image path */
}
